/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run test/urlpipe -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '8.GB'
    max_time   = '6.h'

    outdir = "./results_siki_5_6_7"
    ref = "/home/kai.hu-umw/pi/nathan.lawson-umw/sikipipe/assets/220804_ep300bTarget_preciseInsert.fa"
    guide_bed = "/home/kai.hu-umw/pi/nathan.lawson-umw/sikipipe/assets/ep300bTarget_preciseInsert.bed"
    // ref and guide_bed must use abosolute paths

    input  = "sample_sheet/sci/siki_5_6_7.csv"
}
