/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run test/urlpipe -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '8.GB'
    max_time   = '6.h'

    outdir = "./results_ep300a"
    ref = "/Users/kaihu/Projects/Analytical_projects/Nathan/sikipipe/assets/220804_ep300aTarget_preciseInsert.fa"
    guide_bed = "/Users/kaihu/Projects/Analytical_projects/Nathan/sikipipe/assets/ep300bTarget_preciseInsert.bed"

    input  = "sample_sheet/local/ep300a.csv"

}
